.pos{
    float: left;
    margin-top: -45px;
    margin-left: 20px;
}

ul{
    padding: 20px;
}

.canto{
    
    position: absolute;
    left: 270px;
}

.pairar:hover{
    background-color: rgba(19, 195, 226, 0.4);
}

.sidenav{
    border-right: 2px solid white;
}

