
body{
    background-color: rgb(58, 53, 53);
}


.pos{
    float: left;
    margin-top: -45px;
    margin-left: 20px;
}

ul{
    padding: 20px;
}

.canto{
    
    position: absolute;
    left: 270px;
}

.pairar:hover{
    background-color: rgba(111, 187, 240, 0.6);
}

.sidenav{
    border-right: 2px solid white;
}
.barra-de-menu{
    height: 70px;
    border-bottom:1px solid rgb(182, 166, 166);
}
.leitor{
    padding-top:5px;
}

.books{
    font-weight: 500;
    color: white;
}
.git, .link, .face{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    
}  

.face{
    background-color: rgb(114, 114, 190);
   
}

.lista_contato{
    
    height: 55px;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-right: 15px;
    padding-top: 5px;
}

.sobrevoar:hover{
    background-color: rgba(226, 224, 224, 0.6);
    
}

p{
    text-align: justify;
    text-indent: 50px;
    margin: 15px 15px;
    color: white;
}

fieldset, .btn{
    border-radius: 10px;
   
}

fieldset{
    background-color: rgb(78, 73, 73);
    box-shadow: 10px 10px 25px rgba(111, 187, 240, 1);
}
