.pos{
    float: left;
    margin-top: -45px;
    margin-left: 20px;
}

ul{
    padding: 20px;
}

.canto{
    
    position: absolute;
    left: 270px;
}

.pairar:hover{
    background-color: rgba(19, 195, 226, 0.4);
}

.sidenav{
    border-right: 2px solid white;
}
.barra-de-menu{
    height: 70px;
}
.leitor{
    padding-top:5px;
}

.books{
    font-weight: 500;
    color: white;
}
.git{
   
    height: 30px;
}

.link{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.face{
    background-color: rgb(114, 114, 190);
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

.lista_contato{
    
    height: 55px;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-right: 15px;
    padding-top: 5px;
}

.sobrevoar:hover{
    background-color: rgba(226, 224, 224, 0.6);
    
}